{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Add your idea!</h1>
    <div>
        {{ form_start(ideaForm) }}

        {{ form_widget(ideaForm) }}
        <button type="submit" value="Add this idea!">Add this idea!</button>

        {{ form_end(ideaForm) }}
    </div>
{% endblock %}

{% block title %}Add your idea! | {{ parent() }}{% endblock %}